<div class="message" *ngIf="message">
  <p>{{ message }}</p>
</div>

<div class="table-container">
  <table
    mat-table
    *ngIf="dataSource.data?.length"
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="play">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cells *matCellDef="let element">
        <mat-icon class="play-icon" color="primary" aria-label="play" (click)="play(element)">
          play_arrow
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="favorite">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="favorite-icon" color="accent" aria-label="favorite">favorite</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="songTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>songTitle</th>
      <td mat-cell *matCellDef="let element">{{ element.songTitle }}</td>
    </ng-container>

    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>fileName</th>
      <td mat-cell *matCellDef="let element">{{ element.fileName }}</td>
    </ng-container>

    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="download-icon" color="accent" aria-label="download">download </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ 'selected': selectedElementId === row.id }"
    ></tr>
  </table>
</div>
