table {
  width: 100%;
  border-collapse: collapse;

  th {
    color: lightsalmon;
  }
}

.table-container {
  max-height: 85vh;
  overflow-y: auto;
  padding: 1em;
}

.mat-row:hover {
  background-color: #616161;
}

.selected {
  border: 2px solid #c2185b;
}

.mat-icon {
  cursor: pointer;
}

.message {
  display: table;
  margin: 10em auto;

  p {
    font-size: 4em;
  }
}

.mat-column-play {
  width: 5%;
}

.mat-column-favorite {
  width: 5%;
}

.mat-column-download {
  width: 5%;
}

.mat-column-id {
  width: 5%;
}

.mat-column-songTitle {
  width: 40%;
  color: bisque;
}

.mat-column-fileName {
  width: 40%;
  color: gainsboro;
}
