<div class="example-button-row">
  <div class="example-flex-container">
    <button mat-icon-button aria-label="play" (click)="play()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button aria-label="pause" (click)="pause()">
      <mat-icon>pause</mat-icon>
    </button>
    <button mat-icon-button aria-label="rewind" (click)="rewind()">
      <mat-icon>fast_rewind</mat-icon>
    </button>
    <button mat-icon-button aria-label="stop" (click)="stop()">
      <mat-icon>stop</mat-icon>
    </button>
    <button mat-icon-button aria-label="forward" (click)="forward()">
      <mat-icon>fast_forward</mat-icon>
    </button>
    <button mat-icon-button aria-label="shuffle" (click)="shuffle()">
      <mat-icon>shuffle</mat-icon>
    </button>
    <button mat-icon-button aria-label="navigate" (click)="navigate()">
      <mat-icon>arrow_upward</mat-icon>
    </button>
  </div>
</div>
